[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-seed = "*"
django-mptt = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.8"
